body{
  margin:0;
  padding: 0;
  font-family:'source sans pro',monospace;
}
.container{
  max-width:640px;
  margin:0 auto;
}
header{
  background: hsl(192, 77%, 90%);
  box-sizing: border-box;
  padding:10px;
  margin-bottom:120px;
}
header h1{
  margin: 0;
  text-align: center;
}
#answer-form{
  margin:0 auto;
  padding:0 10px;
  max-width: 480px;
}
.input-group>input{
  display:block;
}
.input-group>label{
  display: block;
}
.sr-only{
  
}
.answer-label{
  text-align: center;
  padding:10px;
  color:#aeaeae;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.problem>input{
  font-size:36px;
  flex:1 0 0;
  max-width: 120px;
  padding:10px;
  border:1px solid transparent;
  border-radius: 3px;
  text-align: center;
  user-select:none;
}
.times {
  font-size:36px;
  display: block;
  padding:10px;
  color:hsl(128,50%,50%);
}

.answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.answer>label{
  font-size:24px;
  color:hsl(128,50%,50%);
}
.input-answer{
  max-width: 200px;
  padding:5px;
  border:1px solid hsl(128,50%,50%);
  font-size:24px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 3px;
}

.btn-answer {
  padding:10px;
  color:white;
  background:hsl(128,50%,50%);
  border:1px solid hsl(128,50%,50%);
  border-radius:4px;
  width:200px;
  display: block;
  margin:10px auto;
}

#message {
  width:200px;
  display: block;
  margin:0 auto;
  font-size:24px;
  border:1px solid transparent;
  border-radius: 3px;
}
